:root {
    --primary-color: #023a3a;
    --secondary-color: #4d022d;
    --accent-color: #00ffb1;
    --background-dark: #2f006f;
    --background-gradient: linear-gradient(#e500ff, #5e00ff);
    --light-text-color: #e500ff;
    --dark-text-color: #000000;
    --white-text-color: #fff;
    --border-radius: 10px;
    --transition: all .5s ease-in-out;
    --box-shadow: 1px 1px 10px inset var(--accent-color), -1px -1px 5px inset var(--accent-color);;
}

* {
    text-align: center;
}

body {
    background-color: var(--background-dark);
    color: var(--light-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: dashed 2px var(--accent-color);
    margin-top: 50px;
    width: 28%;
    transition: var(--transition);
}

.card:hover, .card:hover .card-title {
    box-shadow: var(--box-shadow);
}

.card:hover .card-title{
    color: var(--white-text-color);
}

.card-description {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -40px;
    height: 5%;
}

.card-description p {
    text-align: left;
}

.card-title {
    border: solid var(--accent-color);
    border-radius: var(--border-radius);
    position: relative;
    top: -40px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--background-dark);
    transition: var(--transition);
}

.card-code {
    background-image: var(--background-gradient);
    border-radius: var(--border-radius);
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.card-code pre{
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    text-wrap: wrap;
    color: var(--dark-text-color);
    font-size: 20px;
}

@media screen and (max-width: 992px){
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 768px){
    .card {
        width: 90%;
    }
}